@font-face {
    font-family: 'SVN-Unthrift';
    src: url('../fonts/SVN-Unthrift.eot');
    src: url('../fonts/SVN-Unthrift.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SVN-Unthrift.woff2') format('woff2'),
        url('../fonts/SVN-Unthrift.woff') format('woff'),
        url('../fonts/SVN-Unthrift.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Plus Jakarta Bold 700';
    src: url('../fonts/PlusJakartaSans-Bold.eot');
    src: url('../fonts/PlusJakartaSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/PlusJakartaSans-Bold.woff2') format('woff2'),
        url('../fonts/PlusJakartaSans-Bold.woff') format('woff'),
        url('../fonts/PlusJakartaSans-Bold.ttf') format('truetype'),
        url('../fonts/PlusJakartaSans-Bold.svg#PlusJakartaSans-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Plus Jakarta ExtraBold 800';
    src: url('../fonts/PlusJakartaSans-ExtraBold.eot');
    src: url('../fonts/PlusJakartaSans-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/PlusJakartaSans-ExtraBold.woff2') format('woff2'),
        url('../fonts/PlusJakartaSans-ExtraBold.woff') format('woff'),
        url('../fonts/PlusJakartaSans-ExtraBold.ttf') format('truetype'),
        url('../fonts/PlusJakartaSans-ExtraBold.svg#PlusJakartaSans-ExtraBold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Plus Jakarta ExtraLight 200';
    src: url('../fonts/PlusJakartaSans-ExtraLight.eot');
    src: url('../fonts/PlusJakartaSans-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('../fonts/PlusJakartaSans-ExtraLight.woff2') format('woff2'),
        url('../fonts/PlusJakartaSans-ExtraLight.woff') format('woff'),
        url('../fonts/PlusJakartaSans-ExtraLight.ttf') format('truetype'),
        url('../fonts/PlusJakartaSans-ExtraLight.svg#PlusJakartaSans-ExtraLight') format('svg');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Plus Jakarta Light 300';
    src: url('../fonts/PlusJakartaSans-Light.eot');
    src: url('../fonts/PlusJakartaSans-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/PlusJakartaSans-Light.woff2') format('woff2'),
        url('../fonts/PlusJakartaSans-Light.woff') format('woff'),
        url('../fonts/PlusJakartaSans-Light.ttf') format('truetype'),
        url('../fonts/PlusJakartaSans-Light.svg#PlusJakartaSans-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Plus Jakarta Medium 500';
    src: url('../fonts/PlusJakartaSans-Medium.eot');
    src: url('../fonts/PlusJakartaSans-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/PlusJakartaSans-Medium.woff2') format('woff2'),
        url('../fonts/PlusJakartaSans-Medium.woff') format('woff'),
        url('../fonts/PlusJakartaSans-Medium.ttf') format('truetype'),
        url('../fonts/PlusJakartaSans-Medium.svg#PlusJakartaSans-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Plus Jakarta Regular 400';
    src: url('../fonts/PlusJakartaSans-Regular.eot');
    src: url('../fonts/PlusJakartaSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/PlusJakartaSans-Regular.woff2') format('woff2'),
        url('../fonts/PlusJakartaSans-Regular.woff') format('woff'),
        url('../fonts/PlusJakartaSans-Regular.ttf') format('truetype'),
        url('../fonts/PlusJakartaSans-Regular.svg#PlusJakartaSans-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Plus Jakarta SemiBold 600';
    src: url('../fonts/PlusJakartaSans-SemiBold.eot');
    src: url('../fonts/PlusJakartaSans-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/PlusJakartaSans-SemiBold.woff2') format('woff2'),
        url('../fonts/PlusJakartaSans-SemiBold.woff') format('woff'),
        url('../fonts/PlusJakartaSans-SemiBold.ttf') format('truetype'),
        url('../fonts/PlusJakartaSans-SemiBold.svg#PlusJakartaSans-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}